{% extends 'base.html' %} {% load staticfiles %} 


{% block cssformat %}
	<link href="/static/css/typeahead.css" rel="stylesheet">  
{% endblock %}



{% block content %}
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="/automaticas/">Estações</a></li>
        </ol>
        <div id="social" class="pull-right">
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-cloud"></i>
                    <span>Estações Automáticas</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
            
                <form  method="POST">
                    {% csrf_token %}
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <h4 class="page-header">{{ form.nomeEstacao.label }}</h4>	
                            {{ form.nomeEstacao}}
                        </div>
                        <div class="col-sm-3">
                            <h4 class="page-header">{{ form.mes.label }}</h4>	
                            {{ form.mes}}
                        </div>
                         <div class="col-sm-3">
                            <h4 class="page-header">{{ form.ano.label }}</h4>	
                            {{ form.ano}}
                        </div>
                    </div>
                     <div class="row form-group">
                        <div class="col-sm-3">
                            <h4 class="page-header">{{ form.nomeTexto.label }}</h4>	
                            {{ form.nomeTexto}}
                        </div>
		    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                                <button class="btn btn-default" type="submit" ><i class="fa fa-cog"></i> Processar</button>
                        <div>
                    </div>
               </form>
           </div>
        </div>
    </div>
</div>



{% endblock %}a



{% block scriptsJava %}
    <script  type="text/javascript" src="/static/js/typeahead/typeahead.jquery.min.js"></script>
	<script>


function Select2Test(){
    $("#el2").select2();
}

$(document).ready(function() {
    // Load script of Select2 and run this
    //LoadSelect2Script(Select2Test);
    //WinMove();

    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            matches.push(str);
          }
        });
    
        cb(matches);
      };
    };
    var states = {{ estacoes|safe }};
    $('#id_nomeEstacao').typeahead({
      hint: true,
      highlight: false,
      minLength: 1
    },
    {
      name: 'states',
      source: substringMatcher(states)
    });
});
</script>
{% endblock %}a
