{% extends 'base.html' %} {% load staticfiles %} 


{% block cssformat %}

    <link rel="stylesheet" href="/static/plugins/leaflet/MarkerCluster.css" />
    <link rel="stylesheet" href="/static/plugins/leaflet/MarkerCluster.Default.css" />

    <style> 
        /* Map */
        #map {
            position: absolute;
            float: left;
            top: 1%;
            height: 800px;
            width: 100%;
            z-index: 1;
        }

        .leaflet-popup-content {
            width:auto !important;
        }
    </style>

{% endblock %}



{% block content %}

	<div class="row">
	    <div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
		    <i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
		    <li><a href="/">Home</a></li>
		    <li><a href="/normais">Focos de Incêndio</a></li>
		</ol>
	    </div>
	</div>

       <div id="map"></div>
{% endblock %}



{% block scriptsJava %}   

<script src="//cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>a

<script src="/static/plugins/leaflet/leaflet.markercluster.js"></script>
   <script type="text/javascript">


function urlencode(str) {
  //       discuss at: http://phpjs.org/functions/urlencode/
  //      original by: Philip Peterson
  //      improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
  //      improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
  //      improved by: Brett Zamir (http://brett-zamir.me)
  //      improved by: Lars Fischer
  //         input by: AJ
  //         input by: travc
  //         input by: Brett Zamir (http://brett-zamir.me)
  //         input by: Ratheous
  //      bugfixed by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
  //      bugfixed by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
  //      bugfixed by: Joris
  // reimplemented by: Brett Zamir (http://brett-zamir.me)
  // reimplemented by: Brett Zamir (http://brett-zamir.me)
  //             note: This reflects PHP 5.3/6.0+ behavior
  //             note: Please be aware that this function expects to encode into UTF-8 encoded strings, as found on
  //             note: pages served as UTF-8
  //        example 1: urlencode('Kevin van Zonneveld!');
  //        returns 1: 'Kevin+van+Zonneveld%21'
  //        example 2: urlencode('http://kevin.vanzonneveld.net/');
  //        returns 2: 'http%3A%2F%2Fkevin.vanzonneveld.net%2F'
  //        example 3: urlencode('http://www.google.nl/search?q=php.js&ie=utf-8&oe=utf-8&aq=t&rls=com.ubuntu:en-US:unofficial&client=firefox-a');
  //        returns 3: 'http%3A%2F%2Fwww.google.nl%2Fsearch%3Fq%3Dphp.js%26ie%3Dutf-8%26oe%3Dutf-8%26aq%3Dt%26rls%3Dcom.ubuntu%3Aen-US%3Aunofficial%26client%3Dfirefox-a'

  str = (str + '')
    .toString();

  // Tilde should be allowed unescaped in future versions of PHP (as reflected below), but if you want to reflect current
  // PHP behavior, you would need to add ".replace(/~/g, '%7E');" to the following.
  return encodeURIComponent(str)
 .replace(/!/g, '%21')
    .replace(/'/g, '%27')
    .replace(/\(/g, '%20')
    .replace(/\-/g, '%20')
    .replace(/\./g, '%20')
    .replace(/\)/g, '%20')
    .replace(/\*/g, '%32');
}




        var mbAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            mbUrl ='https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IjZjNmRjNzk3ZmE2MTcwOTEwMGY0MzU3YjUzOWFmNWZhIn0.Y8bhBaUMqFiPrDRW9hieoQ';

        var grayscale   = L.tileLayer(mbUrl, {id: 'mapbox.light', attribution: mbAttr}),
            streets  = L.tileLayer(mbUrl, {id: 'mapbox.streets',   attribution: mbAttr});

        var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', { 
                attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        });

        var baseLayers = {
            "Grayscale": grayscale,
            "Streets": streets,
            "ESRI" : Esri_WorldImagery,
        };



        var myIcon = L.icon({
            iconUrl: 'https://www.openstreetmap.org/assets/marker-green-c37a767792941fc078f363f51dc9c035.png',
            iconSize: [25, 41],
            iconAnchor: [22, 94],
            popupAnchor: [-3, -76],
        });




        //var dataurl = '{% url "data" %}';
        var dataurl = '/fire.geojson';
        // Download GeoJSON via Ajax
        $.getJSON(dataurl, function (data) {
            var focos = L.geoJson(data, {
                onEachFeature: function (feature, layer) //functionality on click on feature
                {
                    layer.options.icon = myIcon;
                    layer.bindPopup("<div id=" + feature.id + " style='width:260px' ></div>");
                },
            });

            var markers = L.markerClusterGroup();
            markers.addLayer(focos); // add it to the cluster group
            var gfocos = new L.LayerGroup();
            gfocos.addLayer(markers);

            var map = L.map('map', {  center :[-15.39, -61.15], zoom: 5, maxZoom :15,  layers : [Esri_WorldImagery, gfocos]} );

            var overlays = { 'Focos' : gfocos };
 
            L.control.layers(baseLayers, overlays).addTo(map);
            


            map.on('popupopen', function(e) {
                var id = e.popup._contentNode.lastElementChild.id;
                $.get( "http://10.3.0.29:8080/focoCalor/" + id + "/", function( data ) { 
                        e.popup._contentNode.lastElementChild.innerHTML = data; 
                });
            });



        });


















   </script>


{% endblock %}a
