{% extends 'base.html' %} {% load staticfiles %} 

{% block cssformat %}
     <style>
        .bloco
        {
        height: 100%; /*Specify Height*/
        width:  100%; /*Specify Width*/
        border: 1px solid black; /*Add 1px solid border, use any color you want*/
        text-align:center; /*Align the text to the center*/
        }
    </style>
{% endblock %}


{% block content %}

<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="/estacoes/">Estacções</a></li>
            <li><a href="#">{{estacao.Nome}}</a></li>
        </ol>
        <div id="social" class="pull-right">
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>

<div id="dashboard-header" class="row">
    <div class="col-xs-12 col-sm-4 col-md-5">
        <h3>{{estacao.Nome}}</h3>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-12 col-sm-8 col-md-7 pull-right">
        <div class="row">
            <div class="col-xs-4">
                <div class="sparkline-dashboard" id="sparkline-1"></div>
                <div class="sparkline-dashboard-info">
                    <span class="txt-primary">Altitude</span>
                    {{ estacao.Altitude }}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="sparkline-dashboard" id="sparkline-2"></div>
                <div class="sparkline-dashboard-info">
                    <span class="txt-info">UF</span>
                    {{ estacao.UF }}
                </div>
            </div>
       </div>
    </div>
</div>

{% for item in graficos  %}
	<div class="col-xs-12 col-sm-6">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-bar-chart-o"></i>
					<span>{{ item.title.text|safe }}</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<div class='bloco'  id="elem{{ item.id}}" style="min-height: 400px;"></div>
			</div>
		</div>
	</div>

{% endfor %}


{% endblock %}

{% block scriptsJava %}
<script type="text/javascript">
    $(function () {
        {% for item in graficos  %}
            $('#elem{{item.id}}').highcharts({
                chart: { type : '{{ item.type}}', 
                         events: {
                                load: function(event) {
                                                        this.renderer.image('http://4.bp.blogspot.com/_h3aZ5dGGSeo/TMOhK79K_4I/AAAAAAAAADM/ULQBT07ZnVc/s400/clima+agoralogo.gif',05,05,130,40).add();
                                                      }
                                }       
                        },                    
                title: { text : '{{ item.title.text|safe }}'    } ,
                subtitle: { text : '{{  estacao.Nome }} - {{ estacao.UF}}  '  } ,
                xAxis: {{ item.xAxis|safe }} , 
                yAxis: {{ item.yAxis|safe  }},
                plotOptions: {{ item.plotOptions|safe }},
                credits: {{ item.credits|safe }},
                legend : { enabled :  {{ item.legend }} },
                series: {{ item.series|safe }}
            });
        {% endfor %}
    });
</script>




<script type="text/javascript">
$(document).ready(function() {
	// Load Google Chart API and callback to draw test graphs
	// This need for correct resize charts, when box open or drag
	var graphxChartsResize;
	$(".box").resize(function(event){
		event.preventDefault();
		clearTimeout(graphxChartsResize);
		graphxChartsResize = setTimeout(DrawAllCharts, 500);
	});
	// Add Drag-n-Drop action for .box
	WinMove();
});
</script>

{% endblock %}
