  <style>
    body{
            font-family:Arial, Helvetica, sans-serif;
            font-size:13px;
            color:#666666;
            background:#cccccc;
            margin: 0;
        }
       h2{
           color:#097a16;
           font-size:20px;
           border-bottom:2px  solid #d2d2d2;
           padding-bottom:15px;
           }
       .subtitulo{
            color:#097a16;
            font-weight:600;
        }
       .box{
            width:533px;
            padding:15px;
            background:#fff;
        }

</style>
<br class="subtitulo"   >ID: {{ item.id }}
<br class="subtitulo" >UPGHR: {{ item.upghr }}
<br class="subtitulo" >Estacao: {{ item.estacao }}
<br class="subtitulo" >Descricao: {{ item.descricao }}
<br class="subtitulo" >Classe Enquadramento: {{ item.classeEnquad }}
<br class="subtitulo" >Data Estabelecimento: {{ item.dataEstab }}
<br class="subtitulo" >Bacia: {{ item.bacia }}
<br class="subtitulo" >Sub Bacia: {{ item.SubBacia }}
<br class="subtitulo" >Curso DAgua: {{ item.cursoDAgua }}
<br class="subtitulo" >Estado: {{ item.estado }}
<br class="subtitulo" >Municipio: {{ item.municipio }}
<br class="subtitulo" >Altitude: {{ item.altitude }}
<br class="subtitulo" >Tipo Corpo DAgua: {{ item.tipoCorpDAgua }}
<br>
